@use '../../variables';

.forecast-card {
    width: 100%;
    background-color: variables.$color-blue-3;
    color: variables.$color-text-bright;
    padding: 20px;
    border-radius: 25px;
    margin: 20px 0 10px 0;

    .forecast-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1rem;
            font-family: variables.$font-opensans;
            font-weight: 600;
        }

        p {
            text-align: right;
            font-size: 0.9rem;
            font-family: variables.$font-opensans;
        }
    }

    p {
        font-family: variables.$font-roboto;
    }

    #current-time {
        font-size: 0.8rem;
        font-family: variables.$font-opensans;
    }

    .current-forecast {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0 5px 0;

        h2 {
            font-size: 2.5rem;
            font-family: variables.$font-roboto;
            font-weight: 500;
            margin: 0 10px;
        }

        .current-forecast-more-info {
            margin-left: 10px;

            p {
                font-size: 0.9rem;
                font-family: variables.$font-roboto;
                font-weight: 300;

                &:nth-child(1) {
                    font-weight: 600;
                    font-size: 1rem;
                }
            }
        }
    }

    .current-forecast-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #current-temp-details {
        font-size: 1rem;
        font-family: variables.$font-opensans;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    .forecast-card {
        .forecast-card-header {
            h1 {
                flex: 50%;
            }
            p {
                flex: 50%;
            }
        }

        .current-forecast {
            justify-content: center;
            flex-direction: column;
            margin: 20px 0;

            img {
                width: 25%;
            }
            h2 {
                font-size: 3rem;
            }
            .current-forecast-more-info {
                margin: 10px 0;
                text-align: center;
            }
        }
        .current-forecast-info {
            padding: 0 40px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
