// site colors
$color-blue-1: #050992;
$color-blue-2: #023e8a;
$color-blue-3: #0077b6;
$color-blue-4: #0096c7;
$color-blue-5: #00b4d8;
$color-orange-1: #ff5400;
$color-orange-2: #ff6d00;
$color-orange-3: #ff8500;
$color-orange-4: #ff9100;
$color-orange-5: #ff9e00;

$color-text-bright: #ffffff;
$color-text-dark: #e5e5e5;
$color-box-dark: #4a4a4a;
$color-box-darker: #242424;

// site fonts
$font-opensans: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
